.button {
  font-size: 14px;
  text-decoration: none;
  padding: 8px 35px 6px;
  border-radius: 500px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #2ebd59;
}
