.container {
  composes: app from './app.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;

}

.button {
  composes: button from './button.css';
}

.title {
  font-size: 26px;
  text-align: center;
}
