.container {
  width: 640px;
  height: 300px;
  overflow-y: scroll;
}

/* for some reason iphone prefers max-device-width */
@media only screen and (max-device-width: 768px) {
  .container {
    width: 100%;
    height: 500px;
  }
}
